@charset "UTF-8";
main, header, .main-nav, .footer-links ul, .title, #sidebar, #schedule .wrapper, #assignments .wrapper, #contact .wrapper, #contact-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-links ul, .title, #sidebar, #schedule .wrapper, #assignments .wrapper, #contact .wrapper {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links ul {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

header, .main-nav {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav a,
.logo a, .footer-links a, .sidebar-menu__items, #contact-form input[type="submit"] {
  transition: all 0.3s ease;
}

.title h1, .title span {
  text-transform: uppercase;
}

#intro {
  position: relative;
}

#intro .overlay, .title {
  position: absolute;
}

#contact-form h2 {
  text-align: center;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

section:not(#intro) {
  padding: 4em 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 2%;
}

td, th {
  padding: .7em;
}

body {
  font-family: "Nunito", Arial, Tahoma, sans-serif;
  font-weight: 300;
  color: #9badb6;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: #8c9ca4;
  font-weight: 700;
}

p {
  font-weight: 300;
}

/* HEADER STYLES */
header {
  padding: 0 2%;
  border-bottom: 2px solid #53bbb4;
}

header .logo a {
  font-size: 2.25em;
  margin: 0;
  font-weight: 400;
  color: #53bbb4;
}

/* NAV STYLES */
nav {
  -webkit-flex-basis: calc(25em + 1vw);
      -ms-flex-preferred-size: calc(25em + 1vw);
          flex-basis: calc(25em + 1vw);
}

.main-nav {
  padding-left: 0;
}

.main-nav li {
  display: inline-block;
  text-transform: capitalize;
}

.main-nav a,
.logo a {
  color: #9badb6;
}

.main-nav a:hover,
.logo a:hover {
  opacity: .6;
}

a.current-link {
  color: #53bbb4;
}

/* FOOTER STYLES */
#footer {
  background-color: #3e474f;
  padding: 2em 2%;
}

.footer-links {
  width: 100%;
}

.footer-links a {
  color: #d8dadc;
}

.footer-links a:hover {
  color: #9fa3a7;
}

.footer-links ul {
  height: 4em;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* INTRO VIDEO SECTION */
#intro .overlay {
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(83, 187, 180, 0.8);
}

#intro video {
  min-width: 100vw;
  min-height: auto;
  display: block;
}

/* INTRO TITLE STYLES */
.title {
  color: #fff;
  z-index: 20;
  height: 100%;
  left: 5%;
}

.title h1 {
  font-size: 4em;
  color: #fff;
}

.title span {
  font-size: .5em;
  display: block;
  font-weight: 300;
  padding-left: 1%;
}

/* LEARN MORE BUTTON STYLES */
.learn-more {
  padding: 1em 2em;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  transition: opacity 0.3s ease;
}

.learn-more:hover {
  opacity: 0.7;
}

/* SIDEBAR STYLES */
#sidebar {
  font-size: 1.2em;
  padding: 100px 3%;
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
  background-color: #e2e3e5;
}

#sidebar-menu {
  list-style-type: none;
}

#sidebar-menu a {
  color: inherit;
}

.sidebar-menu__items {
  margin-bottom: 20px;
}

.sidebar-menu__items:hover {
  color: #FD84B6;
}

.sidebar-menu__items:before {
  content: '■';
  color: #FD84B6;
  margin-right: .5em;
}

.sidebar-menu__items:nth-child(2):before {
  color: #A284FD;
}

.sidebar-menu__items:nth-child(2):hover {
  color: #A284FD;
}

.sidebar-menu__items:nth-child(3):before {
  color: #6AB8E6;
}

.sidebar-menu__items:nth-child(3):hover {
  color: #6AB8E6;
}

/* TABLE STYLES */
.table {
  border: 2px solid #c3ced3;
  border-collapse: initial;
  border-radius: 5px;
  text-align: left;
  text-transform: capitalize;
  margin-top: 3em;
}

.due-date {
  color: #fea9cc;
}

/* MAIN CONTENT SECTION STYLES */
.main {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

.section-content {
  width: 90%;
}

/* Course Objectives Styles */
.dev-icons {
  min-width: 15em;
  max-width: 40%;
  margin-top: 4em;
}

/* SCHEDULE PAGE STYLES */
#schedule .wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.first-word {
  font-size: 1.4em;
  font-weight: bold;
}

.schedule th {
  background-color: #64c2bc;
  color: white;
}

.schedule tbody {
  vertical-align: top;
}

.schedule tr:nth-child(even) {
  background-color: #f5f7f8;
}

.schedule td:nth-child(2) {
  color: #6AB8E6;
}

#note:before {
  content: '*';
  color: #f36d89;
  margin-right: .3em;
}

/* ASSIGNMENT SECTION STYLES STARTS */
#assignments .wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.assignment {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  width: 40em;
  text-align: center;
}

.assignment tr:first-of-type {
  background-color: #f5f7f8;
}

caption {
  background-color: #FB995F;
  border-radius: 5px;
  color: #fff;
  padding: 1em 0;
  margin-bottom: 5px;
}

/* ASSIGNMENT SECTION STYLES ENDS */
.highlight-variant--1 {
  background-color: #A18FDA;
}

.highlight-variant--2 {
  background-color: #5ACEDA;
}

.highlight-variant--3 {
  background-color: #FD8484;
}

/* CONTACT FORM STYLES */
.contact-info span {
  color: #53bbb4;
}

#contact-form {
  width: 80%;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 4em 0;
}

#contact-form h2 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  background-color: #f36d89;
  color: #fff;
  padding: 1.5em 0;
  border-radius: 5px;
}

#contact-form input:nth-child(2) {
  margin-right: 20px;
}

#contact-form input, #contact-form textarea {
  -webkit-flex: 1 0 40%;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  padding: 2em 1em;
  border: 2px solid #d7dee2;
  border-radius: 5px;
  outline: none;
}

#contact-form input:focus, #contact-form textarea:focus {
  border-color: #98d6d2;
}

#contact-form textarea {
  height: 9em;
  resize: none;
  margin-top: 2em;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

#contact-form ::-webkit-input-placeholder {
  color: #9badb6;
  text-transform: capitalize;
  font-weight: 700;
}

#contact-form input[type="submit"] {
  background-color: #53bbb4;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  margin-top: 2em;
  font-size: 1.2em;
}

#contact-form input[type="submit"]:hover {
  background-color: #429690;
}
