header, .main-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header, .main-nav {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav a {
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}

body {
  font-family: "Nunito", Arial, Tahoma, sans-serif;
  font-weight: 300;
  color: #90A4AE;
}

/* HEADER STYLES */
header {
  padding: 1.25em 2%;
}

header p {
  font-size: 2.25em;
  margin: 0;
  color: #53bbb4;
}

/* NAV STYLES */
nav {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}

.main-nav {
  padding-left: 0;
}

.main-nav li {
  display: inline-block;
  text-transform: capitalize;
}

.main-nav a {
  color: #90A4AE;
}

.main-nav a:hover {
  opacity: .6;
}

a.current-link {
  color: #53bbb4;
}
