/*=====================================
=            FOOTER STYLES            =
=====================================*/


#footer{
  background-color: $color-footer;
  padding: 2em 5%;
  // width: 100%;
}

.footer-links{
  width: 100%;
  text-align: center;

  a:not(.humber-logo--footer){
    color: tint($color-footer, 80%);
    @extend %transition-default;

    &:hover{
      color: tint($color-footer, 50%);
    }
  }
}

.footer__page-links{
  @extend %flex;
  @extend %flex-wrap;
  @extend %justify-center;
  max-width: 45em;
  margin: 0 auto;

  @media screen and (max-width: 588px){
    margin-top: 1em;
  }
}

.footer__page-links__item{
  font-size: 0.9em;
  margin-left: 1em;
  margin-right: 1em;
}

.footer-links__group__items {
    // margin-left: 1em;
    font-size: 1.5em;
}

.footer-links:nth-child(2){
  @extend %flex;
  @extend %flex-column;
  margin: 0 auto;
  margin-top: 3em;
  align-items:center;

  @media screen and (max-width: 588px){
    justify-content: center;
  }
}

.humber-logo--footer{
  width: 10em;
  @extend %transition-default;
    &:hover{
      opacity: .6;
    }
}

.footer-links__group{
  @extend %flex;
  justify-content: space-between;
  width: 15em;
}


/*=====  End of FOOTER STYLES  ======*/

