/* HEADER STYLES */

header{
  @extend %flex;
  @extend %space-between;
  @include vertical-center(row);
  padding: 0 2%;
  border-bottom: 2px solid $color-accent;

  .logo a{
    font-size: em(36px);
    margin: 0;
    font-weight: $font-weight--normal;
    color: $color-accent;
  }
}

/* NAV STYLES */

nav{
  flex-basis: calc(25em + 1vw);
}

.main-nav{
  @extend %flex;
  @extend %space-between;
  padding-left: 0;

  li{
    display: inline-block;
    text-transform: capitalize;
  }
}


.main-nav a,
.logo a{
  color: $color-text--light;
  @extend %transition-default;

  &:hover {
    opacity: .6;
  }
}

a.current-link{
  color: $color-accent;
}

