  


/* INTRO VIDEO SECTION */

#intro {
  @extend %relative;

  .overlay{
    @extend %absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba($color-accent, 0.8);

  }

  video{
  min-width:100vw;
  min-height: auto;
  display: block;
  }

}
/* INTRO TITLE STYLES */


.title{
  @extend %absolute;
  color: $color-primary;
  z-index: 20;
  height: 100%;
  @extend %flex;
  @extend %flex-column;
  @include vertical-center(column);
  left: 5%;

    h1{
      font-size: 4em;
      @extend %uppercase;
      color: $color-primary;
    }

    span{
      font-size: .5em;
      display: block;
      font-weight: $font-weight--light;
      @extend %uppercase;
      padding-left: 1%;
    }
}

/* LEARN MORE BUTTON STYLES */


.learn-more{
  padding: 1em 2em;
  border: 2px solid $color-primary;
  border-radius: 5px;
  color: $color-primary;
  transition: opacity .3s ease;

  &:hover{
    opacity: 0.7;
  }
}