#sidebar{
  @extend %flex;
  @extend %flex-column;

  // @include vertical-center(column);

  font-size: 1.2em;
  padding: 100px 3%;
  flex-basis: 20%;
  background-color: tint($color-footer, 80%);
}

#sidebar-menu{
  list-style-type: none;

    a{
      color: inherit;
    }
}


.sidebar-menu__items{
  margin-bottom: 20px;
  @extend %transition-default;

  &:hover{
    color: $color-highlight--pink;
  }

  &:before{
    content: '■';
    color: $color-highlight--pink;
    margin-right: .5em;
  }

  &:nth-child(2){
    &:before {
        color: $color-highlight--purple;
    }

    &:hover{
      color: $color-highlight--purple;
    }
  }

  &:nth-child(3){
    &:before{
    color: $color-highlight--blue;
    }

    &:hover{
      color: $color-highlight--blue;
    }
  }


}