

/*====================================
=            TABLE STYLES            =
====================================*/





.table{
  border: 2px solid tint($color-text--light, 40%);
  border-collapse: initial;
  border-radius: 5px;
  text-align: left;
  text-transform: capitalize;
  margin-top: 3em;
}

.due-date{
    color: tint($color-highlight--pink, 30%);
  }




  
/*=====  End of TABLE STYLES  ======*/
