/*===========================================
=            ASSIGNMENTS PAGE SECTION            =
===========================================*/

#assignments .wrapper{
  display: flex;
  @extend %flex;
  @extend %flex-column;
}

.assignment{
  align-self: center;
  width: 40em;
  text-align: center;

  tr:first-of-type{
    background-color: tint($color-text--light, 90%);
  }
}

caption{
  background-color: $highlight-variant--1;
  border-radius: 5px;
  color: $color-primary;
  padding: 1em 0;
  margin-bottom: 5px;
}


.assignment.table:nth-of-type(2n){
  caption{
    background-color: $highlight-variant--2;
  }
}

.assignment.table:nth-of-type(3n){
  caption{
    background-color: $highlight-variant--3;
  }
}

.assignment.table:nth-of-type(4n){
  caption{
    background-color: $highlight-variant--4;
  }
}

/*=====  End of ASSIGNMENTS PAGE SECTION  ======*/




