/* CONTACT FORM STYLES */
#contact .wrapper{
  @extend %flex;
  @extend %flex-column;
}


.contact-info{
  span{
    color: $color-accent;
  }
}

#contact-form{
  width: 80%;
  align-self: center;
  flex-wrap: wrap;
  @extend %flex;
  margin: 4em 0;

  h2{
    flex-basis: 100%;
    @extend %center-text;
    background-color: $color-warn;
    color: $color-primary;
    padding: 1em 0;
    border-radius: 5px;
    
  }

  input:nth-child(2){
    margin-right: 20px;
  }

  input, textarea{
    flex: 1 0 40%;
    padding: 2em 1em;
    border: 2px solid tint($color-text--light, 60%);
    border-radius: 5px;
    outline: none;

    &:focus{
      border-color: tint($color-accent, 40%);
    }
  }

  textarea{
    height: 9em;
    resize: none;
    margin-top: 2em;
    flex-basis: 100%
  }

  ::-webkit-input-placeholder{
  color: $color-text--light;
  text-transform: capitalize;
  font-weight: $font-weight--bold;
  }

  input[type="submit"]{
    background-color: $color-accent;
    color: $color-primary;
    text-transform: uppercase;
    font-weight: $font-weight--bold;
    border: none;
    @extend %transition-default;
    margin-top: 2em;

      &:hover{
        background-color: shade($color-accent, 20%);
      }
  }
}
