/* Course Objectives styles */



.main{
  flex-grow: 1;
  flex-basis: 100%;
}


.section-content{
  width: 90%;
}

#development-icons{
  // width: 50%;
  // @extend %flex;
  // @extend %flex-wrap;
  // justify-content: space-between;


}