/*============================================
=            SCHEDULE PAGE STYLES            =
============================================*/


#schedule .wrapper{
  @extend %flex;
  @extend %flex-column;
}


.first-word{
  font-size: 1.4em;
  font-weight: $font-weight--bold;
}

.schedule{
  th{
    background-color: tint($color-accent, 10%);
    color: white;
  }

  tbody{
    vertical-align: top;
  }

  tr:nth-child(even){
    background-color: tint($color-text--light, 90%);
  }

  td{
    &:nth-child(2){
    color: $color-highlight--blue;
    }
  }
}


#note{
  &:before{
    content: '*';
    color: $color-warn;
    margin-right: 0.3em;
  }
}

/*=====  End of SCHEDULE PAGE STYLES  ======*/

