body{
  font-family: $font-family--primary;
  font-weight: $font-weight--light;
  color: $color-text--light;
}

h1,
h2,
h3{
  color: $color-text--dark;
  font-weight: $font-weight--bold;
}

p{
  font-weight: $font-weight--light;
}