/*==============================================
=            BASE TYPOGRAPHY STYLES            =
==============================================*/

body{
  font-family: $font-family--primary;
  font-weight: $font-weight--light;
  color: $color-text--light;
  line-height: $line-height;
}

h1,
h2,
h3{
  color: $color-text--dark;
  font-weight: $font-weight--bold;
}

// h1{
//   color: $color-accent;
// }

p{
  font-weight: $font-weight--light;
}


/*=====  End of BASE TYPOGRAPHY STYLES  ======*/

