//THEME COLORS
$white          : #fff;
$porcelain      : #EDEFF0;
$fountain-green : #53bbb4;
$mako           : #3e474f;

$blue-grey           : #90A4AE;

$tickle-me-pink          : #FD84B6;
$seagull    : #6AB8E6;
$heliotrope    : #A284FD;

$carnation       : #f36d89;


// FONTS STACKS
$font-family--primary: 'Nunito', Arial, Tahoma, sans-serif;
$font-family--secondary: 'Open Sans', Arial, Helvetica, sans-serif;

//FONT WEIGHTS
$font-weight--light     : 300;
$font-weight--normal    : 400;
$font-weight--bold      : 700;

//FONT COLORS
$color-text--light: $blue-grey;
$color-text--dark:  shade($color-text--light, 5%);

// FUNCTIONAL NAMED COLORS
$color-primary            :$white;
$color-primary--dark      :$porcelain;
$color-accent             :$fountain-green;
$color-highlight--blue    :$seagull;
$color-highlight--purple    :$heliotrope;
$color-highlight--pink    :$tickle-me-pink;
$color-footer             :$mako;
$color-warn               :$carnation;

//LINE HEIGHT
$line-height : 1.6;